# =========================
# CORE WEB APP
# =========================
streamlit==1.32.0

# =========================
# DATABASE
# =========================
mysql-connector-python==8.3.0

# =========================
# SPEECH TO TEXT (STT)
# =========================
SpeechRecognition==3.14.4
streamlit-audiorec==0.1.3

# =========================
# TEXT TO SPEECH (TTS)
# =========================
gTTS==2.5.4

# =========================
# STREAMLIT UTILITIES
# =========================
streamlit-autorefresh==1.0.1

# =========================
# UTILITIES
# =========================
typing-extensions==4.15.0

# =========================
# AUDIO / FILE HANDLING
# =========================
pydub>=0.25.1
